.center-text {
    text-align: center;
}

.center-image {
    display: block;
    margin: auto;
}

.menuItems {

}

#RestaurantDesc {
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black; 
}

#main {
    background-color: rgba(60, 129, 28, 0.226)
}

#header h1 {
    font-family: monospace;
}

a {
}
  
a:link {
}
  
a:visited {
    color: green;
}
  
a:hover {
    font-weight: bold;
}
  
a:active {
    text-decoration: none;
}
