#albumArt {
    background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Music49/v4/0c/c0/dd/0cc0ddf7-9eca-5562-2372-f129e1be5d81/Bittersweet.jpg/600x600bf.jpg");
    width: 600px;
    height: 600px;
    display: block;
    margin: auto;
}

.text-center {
    text-align: center;
}

.monoFont {
    font-family: monospace;
}

.italicFont {
    font-style: italic;
}

a {
    text-decoration: none;
} 
a:hover {
    text-decoration: underline;
    background-color: green;
}

tbody tr:nth-child(even) {
    background-color: LemonChiffon;
}
  
tbody tr:nth-child(odd) {
    background-color: rgba(171, 204, 50, 0.74);
}
